body {
  background-color: #ffffff;
  font-family: "Roboto", "Raleway", sans-serif;
}
/* Header */
.page-header {
  background: #ffffff;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  color: #000000;
  font-size: 26px;
  line-height: 31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.page-header span {
  color: #2196f3;
}
.site-nav-items {
  text-decoration: none;
}

.site-nav-list-item {
  list-style-type: none;
}

.site-nav-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.site-nav .site-nav-items:hover,
.site-nav-items:focus,
.site-nav-items:active {
  color: #2196f3;
}

.contacts-items {
  text-decoration: none;
  list-style-type: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.contacts {
  color: #757575;
  text-decoration: none;
  list-style-type: none;
}

.contacts .contacts-items:hover,
.contacts-items:focus {
  color: #2196f3;
}

/* Main */

.portfolio-filter .portfolio-items {
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  color: #212121;
  font-style: normal;
  line-height: 26px;
}
.filter-btn {
  text-decoration: none;
  list-style-type: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-radius: 4px;
}

.main-content-section .portfolio-items .filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-items {
  list-style-type: none;
  text-decoration: none;
}

.hidden-title {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.services-item {
  list-style-type: none;
}
.name {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
  font-style: normal;
}
.text {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
  font-style: normal;
}
/* Main for index.html */
.title-section {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}
.title-section .title {
  left: 452px;
  top: 280px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
}
.title-section .btn {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.headline {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: #212121;
}

.text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #757575;
}

.team-srction {
  background-color: #f5f4fa;
}
.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}

.list-items {
  list-style-type: none;
}
.headline-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #212121;
}

.text-position {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
}

/* Footer */
.footer-section {
  background-color: #2f303a;
}
.a {
  text-decoration: none;
}

.address-section .address-section-item {
  list-style-type: none;
}
.address-section-item .adress-item {
  text-decoration: none;
}
.adress-item {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
}

.footer-section span {
  color: #2196f3;
}

.address-section .address-section-item .adress-item:hover,
.adress-item:active {
  color: #2196f3;
}
